<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <!--<h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Create Gossip</a>
        !-->
    <h1>Welcome!</h1>
    <h2>Voici la liste des gossips</h2>
    <% @gossips.each do |gossip| %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title"><%= gossip.title %></h5>
    <p class="card-text"><%= gossip.user.first_name %></p>
    </div>
    </div>
    <% end %>
  </body>
</html>