<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>La team</h1>
    <ul>
      <li>Elias</li>
      <li>Antoine</li>
      <li>Val</li>
      <li>Sacha (stagiaire avec royalties)</li>
    </ul>
  </body>
</html>
